h1{
    text-align: center;
    font-size: 3em;
    color: red;
    background-color: maroon;
}
p{
    color: aqua;
    background-color: black;
    text-transform: capitalize;
    font-size: large;
}
.a{
    /* right alignment */
    text-align: right;
}
.b{
    /* left alignment */
    text-align: left;
}
.c{
    /* center alignment */
    text-align: center;
}
.d{
    /* Justify alignment */
    text-align: justify;
}
