h1{
    text-align: center;
    font-size: 4em;
    color: red;
    background-color: maroon;
    text-shadow: 2px 2px 3px blue;
}
/* These are the different styles of orders in lists in CSS */
.a{
    list-style-type: lower-alpha;
}
.b{
    list-style-type: decimal-leading-zero;
}
.c{
    list-style-type: lower-roman;
}

